body{
    color:black;
    background-color:rgba(247, 243, 243, 0.911);
    margin: 0;
    }
.container{
        width: 80%;
        margin: auto;
          }
.container h1{
            text-align: center;
            color: rgb(52, 6, 95);
            background-color: rgb(171, 185, 192);
            padding: 20px;
            font-size: xx-large;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
.navbar{
    background-color: rgb(208, 214, 216);
    padding: 5px;     
    }
            .navbar li{
                list-style: none;
                text-decoration: none;
                display: inline;
                text-decoration-line: none;
                margin: 60px;                     
                   }
            .navbar a{
                color:rgb(85, 23, 143);
                border-right: 15;
                text-decoration: none;             
                   }
    
    .mainimage{
             margin-bottom: 20px;
             padding-top: 5px;
                        
            }
        .mainimage img{
            height: 500px;
            width: 100%;
        }
    .box1{
        width: 100%;
        text-align: center;
        line: height 10px;
        height: 200px;
        display: flex; 
        justify-content: space-between;
        margin bottom: 20px;
        margin top: 10px; 
               }
       
                    
    
      
        .box11{
                    background-color: rgba(195, 237, 238, 0.911);
                    line-height: 16px;
                    color: black;            
                    width: 33%;
                    }
        .box11 .form1{
                text-align: center;
                text-decoration-color: black;
                font-weight: bold;    
             }
             .box11 p{
                padding: 10px;
            }
        .box12{
            background-color: rgb(112, 112, 119);
            color: white;
            width: 30%;                 
              }
            .box12 p{
                padding: 10px;
            }  
        .box13 {
            width: 35%;
                    
            }
            .box13 img{
                height: 200px;
                width: 400px;
                margin-right: 0%;
            }
    .box2{
        width: 100%;
        display: flex; 
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 220px;
        margin-top: 10px;
        margin-bottom: 10px;
            
        }
    
        .box21{
            background-color:rgb(95, 137, 143);
            width: 50%;
            padding: 10px;
               
             }
            .box21 input[type='email']{
                width: 60%;
                padding left: 20px;
                height: 40px;
                        }
            .box21 label{
                font-size: medium;
                padding bottom: 15px;
            }
            .box21 input[type=button]{
                        background-color:black;
                        color: white;
                          }
        .box22{
                background: rgb(191, 212, 243);
                text-align: center;
                color: black;
                width: 46%;
                border: 2px rgb(51, 28, 78) solid;
                }
            .box22 img{
                width: 250px;
                padding-left: 0;
                padding-bottom: 0;
                padding-top: 10px;
                }
            .learnmore p{
                color: rgb(27, 26, 26);
                font-size: small;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-weight: 500;
                padding-top: 0px;
                        }
    .box3{
        width: 100%;
        display: inline;
                       
        }
         .box3 h3{
             background-color: rgb(200, 198, 202);
             text-align: center;
             width: 45%;
             padding-top: 20px;
             padding-bottom: 20px;
            
         }
           
    .box4 ul{
       background-color: rgba(98, 99, 100, 0.952);
        font-size: 15px;
        padding: 10px;
        width: 100%;
       
      
    }
        .box4 li{
            display: inline;
            text-decoration: none;
            text-decoration-color: black;
            padding-right: 180px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: bold;         
     
    }
            .box4 a{
                color: black;
                font-weight: 300;
                text-decoration: none;
                list-style: none;
    }
            .box4 img{
                padding-right: 3px;
            }
        